html, body {
  overflow: hidden;
}

body {
  box-sizing: border-box;
  background-color: aliceblue;
}

.title_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  flex-wrap: wrap;
}

.title_h1 {
  color: cadetblue;
  font-family: cursive;
}

.disha_img {
  border-radius: 10px;
  height: 10vh;
  width: auto;
  object-fit: cover;
}

.hr_title {
  width: 80vw;
  height: 2px;
  background: bisque;
  border: none;
}

.chat_div {
  height: 60vh;
  width: 80vw;
  background: rgba(8, 19, 74, 0.25);
  margin: 4vh auto 0;
  border-radius: 8px 8px 0 0;
  padding: 20px;
  overflow-y: auto;
}

.left, .right {
  float: left;
  clear: both;
  background: white;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 1vh 0;
  max-width: 40%;
  width: auto;
  height: auto;
  line-height: 1.8;
  font: normal 14px Arial, Helvetica, sans-serif;
}

.right {
  float: right;
}

.message_div {
  display: flex;
  align-items: center;
  margin: auto;
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 5px;
  width: 80vw;
}

.text_send {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 17px;
  outline: none;
}

#send_btn {
  padding: 5px 10px;
  background: #007bff;
  color: white;
  border: none;
  font-size: 17px;
  cursor: pointer;
}
